.frame
	{
		width:900px;
		height:400px;
		background:#F2BEBE;
		font-family:arial;
		font-size:14px;
	}

.check_search
	{
		margin:10px;	
	}

.check_search1
	{
		padding-top:25px;
		margin:10px;
	}
	
.check_search_span
	{
		padding-left:100px;
	}

.plus_minus
	{
		margin-top:30px;
		margin-bottom:30px;
		padding-left:350px;
	}

.search_field
	{
			margin-left:217px;
	}

.buttons_down
	{
		padding-top:10px;
		margin-left:220px;
		font-weight:bold;
	}
