body
	{
	width:1000px;
	height:1000px;
	font-family:verdana;
	}

header
	{
	width:1000px;
	border:1px solid blue;
	}
	
.content
	{
	margin-top:5px;
	padding-top:30px;
	padding-left:30px;
	width:972px;
	height:160px;
	background:#085997;
	color:#C4E2F9;
	font-size:12px;
	}
	
.link_watch
	{
	text-decoration:none;
	color:black;
	border-right:20px solid #085997; 
	font-size:20px;
	font-weight:bold;
	}

.link_demo
	{
	text-decoration:none;
	color:white;
	font-size:35px;
	font-weight:bold;
	}
	
.pic
	{
	width:1000px;
	border:1px solid blue;
	margin-top:5px;
	}

.text
	{
	text-align:center;
	}

.footer
	{
	margin-top:5px;
	width:963px;
	height:40px;
	text-align:right;
	background:#085997;
	}

.link_footer 
	{
	text-decoration:none;
	padding:5px;
	color:white;
	font-size:14px;
	}
	
.link_footer1
	{
	padding:5px;
	}
